.postContainer
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.imagePost{
    width: 100px;
}